@media only screen and (max-width: 1050px) and (min-width: 400px) {
  .nav-home {
    text-align: inherit;
  }
  .home-page {
    margin-top: 20%;
  }

  /* About me section */

  .client-skills-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .server-skill-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .skill-card {
    margin-bottom: 16px;
    border-radius: 25px;
    border: 2px solid #00BFFF;
    padding: 20px; 
    width: 100%;
  }

  .prev, .next,.text {
    cursor: pointer;
    position: absolute;
    font-size: 11px;
    background: red;
    cursor: pointer;
    top: 52%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  line-height: 1;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2a2e2e;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.animated {
  animation: fade-in-down 0.6s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.wrapper-normal {
  height: 100%;
  width: 96%;
  margin: 0 auto;
}

.icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  fill: #000;
  text-align: center;
  color: #000;
  margin: 7px auto;
}

.header-home {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 99;
}

.header-home>.link>.selfie {
  width: 235px;
  /* margin-bottom: 25px; */
  /* border-radius: 100%; */
  transition: all 0.2s;
  box-shadow: 0;
  opacity: 1;
  clip-path: circle(47%);
}

.selfie {
  width: 235px;
  transition: all 0.2s;
  box-shadow: 0;
  opacity: 1;
  clip-path: circle(47%);
}

header > a:hover {
  opacity: 0.2;
}

.header-home>.description {
  font-size: 1.85rem;
  font-weight: 300;
  font-style: normal;
  color: #333;
  width: 70%;
  margin: 0 auto 0;
}

.social-links {
  margin-top: 16px;
  /* margin-top: 20px; */
}

.social-links>.link {
  margin: 0;
  text-decoration: none;
  position: relative;
  display: inline-block;
  height: 35px;
  width: 35px;
}

.nav-home {
  /* margin-top: 40px; */
  margin-top: 26px;
  text-align: right;
}

.nav>.list,
.nav-home>.list {
  list-style: none;
  margin: 0;
}

.nav>.list>.item,
.nav-home>.list>.item {
  display: inline-block;
}

.page {
    margin-top: 16px;
}

.home-page {
  margin-top: 125px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

img,
pre,
iframe {
  max-width: 100%;
}

img {
  border-style: none;
}

.tech-logo {
  width: 26px;
  height: 26px;
}

hr.style-eight {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.moto {
  font-style: italic;
}

.about-wrapper {
  display: flex;
}

.about-info {
  
}

.about-image {
  width: 100px;
  transition: all 0.2s;
  box-shadow: 0;
  opacity: 1;
  clip-path: circle(34%);
}

.tech-list { 
  display: flex;
  justify-content: space-evenly;
}

.project-title {
  font-weight: bold;
  color: blue;
}

.projects-list { 
  list-style-type: circle;
}

.project-description {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.project-contribution { 
  margin-bottom: 16px;
  margin-left: 16px;
}

.client-skills-wrapper {
  display: flex;
  justify-content: space-around;
}

.server-skill-wrapper {
  display: flex;
  justify-content: space-around;
}

.skill-logo {
  width: 64px; 
  height: 64px;
}

.skill-card {
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 2px solid #00BFFF;
  /* background: #73AD21; */
  padding: 20px; 
  width: 200px;
  height: 100%; 
  cursor: pointer;
}

.skill-card:hover {
  background-color: #3e8e41;

}

.skill-title {
  padding-left: 16px;
}

.skill-info {
  color: red;
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

/*  Start slide */

.slides { display: none };

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  color:red;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  top: 52%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* end slide */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey; 
}
