* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* General - scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  line-height: 1;
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2a2e2e;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animated {
  animation: fade-in-down 0.6s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.wrapper-normal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 96%;
}

.icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  fill: #000;
  text-align: center;
  color: #000;
  margin: 7px auto;
}

.header-home {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 99;
}

.header-home>.link>.selfie {
  width: 235px;
  transition: all 0.2s;
  box-shadow: 0;
  opacity: 1;
  clip-path: circle(47%);
}

.selfie {
  width: 235px;
  transition: all 0.2s;
  box-shadow: 0;
  opacity: 1;
  clip-path: circle(47%);
}

header > a:hover {
  opacity: 0.2;
}

.header-home>.description {
  font-size: 1.85rem;
  font-weight: 300;
  font-style: normal;
  color: #333;
  width: 70%;
  margin: 0 auto 0;
}

.social-links {
  margin-top: 16px;
}

.social-links>.link {
  margin: 0;
  text-decoration: none;
  position: relative;
  display: inline-block;
  height: 35px;
  width: 35px;
}

.nav-home {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 6px;
}

.nav>.list,
.nav-home>.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav>.list>.item,
.nav-home>.list>.item {
  display: inline-block;
}

.home-page {
  margin-top: 53px;
}

.moto {
  font-style: italic;
}

.about-wrapper {
    display: flex;
 } 

.about-image {
  width: 100px;
  transition: all 0.2s;
  box-shadow: 0;
  opacity: 1;
  clip-path: circle(34%);
}

.project-title {
  font-weight: bold;
  color: blue;
}

.project-description {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.skill-card {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 25px;
  border: 2px solid #00BFFF;
  padding: 20px; 
  width: 145px;
}

.skill-card:hover {
  background-color: grey;
}

.skill-logo {
  width: 64px; 
  height: 64px;
}

.skill-title {
  padding-left: 16px;
}

  
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width:320px) { 
  
.nav-home {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 6px;
}

.home-page {
  margin-top: 16px;
}

}

  /* Mobile landscape */
  @media only screen and (orientation: landscape) {
    /* css rules */
    .nav-home {
      display: flex;
      justify-content: flex-end;
      font-size: 15px;
      margin-bottom: 20px;
      padding: 6px;
      margin-right: 6px;
    }

    .wrapper-normal {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
  }

    .home-page {
      margin-top: 6px;
    }

     .about-container {
      display: flex;
      /* flex-direction: column; */
      align-items: center;
    }
    
    .row {
      display: flex;
      width: 100%;
    } 
}

/* hi-res laptops and desktops */ 
@media (min-width:1281px) {
  body {
      line-height: 1;
      font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #2a2e2e;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; 
  }

  .home-page {
    margin-top: 75px;
  }

.nav-home {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  padding: 16px;
}

.wrapper-normal {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 16px;
}


.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}


.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.skill-card {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 25px;
  border: 2px solid #00BFFF;
  padding: 20px; 
  width: 145px;
  cursor: pointer;
}

}

/* @media (min-width:480px) { smartphones, Android phones, landscape iPhone } */
/* @media (min-width:600px) { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) } */
/* @media (min-width:801px) { tablet, landscape iPad, lo-res laptops ands desktops } */
/* @media (min-width:1025px) { big landscape tablets, laptops, and desktops } */
/* @media (min-width:1281px) { hi-res laptops and desktops } */